:root {
    --primary-color: #57CC99;
    --secondary-color: #38A3A5;
    --light-accent: #80ED99;
    --dark-accent: #205272;
    --white: #F5F7F6;
    --black: #303B3D;
}

* {
    font-family: Montserrat, sans-serif;
    color: var(--black);
}

/* ===== Navigation Menu Styling ===== */
.navbar {
    padding-left: 1vw !important;
}

.navbar-nav {
    padding-right: 1vw !important;
    font-weight: 500;
}

.navbar-nav li {
    margin: 5px;
}

.login {
    border: 1px solid var(--primary-color);
    background-color: var(--light-accent);
    border-radius: 15px;
    padding: 1px 5px;
}

.logout {
    border: 1px solid #8f260e;
    background-color: #e57560;
    border-radius: 15px;
    padding: 1px 5px;
}

.post {
    border: 1px solid var(--dark-accent);
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1px 5px;
}

/* ===== Footer Styling ===== */
footer {
    border-top: var(--secondary-color) 1px solid;
    background-color: #112d3f;
}

.footer-text {
    color: var(--primary-color);
}

.text-start {
    line-height: 2rem;
    color: var(--white);
}

.list-unstyled li {
    padding-bottom: 10px;
}

.list-unstyled li a {
    text-decoration: none;
    color: var(--light-accent);
    font-size: 16px;
}

.footer-name {
    color: var(--white);
}

.footer-name a {
    text-decoration: none;
    color: var(--light-accent);
}

.footer-name a:hover {
    color: var(--light-accent);
}

.logout-footer-text {
    color: #ee6f57 !important;
}

.link-text {
    color: var(--white);
}

/* ======== MOBILE RESPONSIVENESS STYLING ======== */
@media screen and (max-width: 768px) {
    .heading-title {
        font-size: 48px !important;
    }

    .left-img {
        display: none;
    }
}

/* ===== Home Page Styling ===== */
header {
    background: linear-gradient(rgba(151, 208, 164, 0.25), rgba(108, 166, 140, 0.25)), url('../images/header_bg.jpg') center;
    height: 80vh;
    background-size: cover;
}

header.container.row {
    width: 80%;
}

.header-info {
    padding: 25vh 0;
}

.heading-title {
    font-size: 72px;
    color: var(--dark-accent);
}

.subheading {
    font-size: 20px;
    font-weight: 500;
}

.card {
    border: 1px solid var(--primary-color) !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-color) !important;
}

.register {
    background-color: var(--dark-accent);
}

.register-row .left-img {
    background: url("../images/register_section_img.jpg") no-repeat center;
    background-size: cover;
}

.container-fluid .row {
    height: 60vh;
}

.right-text h2 {
    color: var(--primary-color);
}

.right-text p {
    color: var(--white);
    line-height: 2rem;
}

/* ===== Find Recipes Page Styling ===== */
form {
    width: 70vw;
    margin: 0 auto;
}

.form-field {
    padding-bottom: 5%;
}

/* ===== Communities and Posts Pages Styling ===== */
.post-title-tag {
    text-decoration: none;
    color: var(--dark-accent);
}

.post-title-tag:hover {
    color: var(--secondary-color);
}

.post-title {
    color: var(--secondary-color);
}

.post-info {
    color: #5d5757;
}

.post-author {
    color: var(--secondary-color);
    text-decoration: none;
}

.post-author:hover {
    color: var(--dark-accent);
}

.post-date {
    color: #605c5c;
    font-weight: bold;
}

.post-snippet {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.post-view {
    border: 1px solid #595858;
    border-radius: 5px;
    padding: 10px 15px;
}

.inline-actions {
    display: inline-block;
}

#post-actions {
    background-color: var(--primary-color) !important;
}

.add-comment {
    padding: 5px 0px;
    border-top: 1px solid var(--dark-accent);
    border-bottom: 1px solid var(--dark-accent);
}

.add-comment-tag {
    color: var(--secondary-color);
    cursor: pointer;
}

.add-comment-tag:hover {
    color: var(--primary-color);
}

.comments-title h4 {
    color: var(--dark-accent);
    text-decoration: underline;
}

.show-comments {
    border-bottom: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 15px;
}

.comment-user {
    font-size: 18px;
    font-weight: 600;
    color: #25776c;
}

/* ===== Other Pages Styling ===== */
.register-tag {
    text-decoration: none;
    color: var(--primary-color);
}

.register-tag:hover {
    color: var(--dark-accent);
}

.login-title, .register-title {
    color: var(--secondary-color);
}