<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://kit.fontawesome.com/5726ad9fb0.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <!-- Navigation menu -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="{{ url_for('index') }}" class="navbar-brand">
                <img src="../static/images/food_blend_logo.png" alt="Food Blend">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{{ url_for('get_recipes') }}" class="nav-link">Find Recipes</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Communities
                      </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('communities', name='breakfast') }}">Breakfast</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('communities', name='lunch') }}">Lunch</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('communities', name='dinner') }}">Dinner</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('communities', name='snacks & appetizers') }}">Snacks & Appetizers</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('communities', name='desserts') }}">Desserts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item login">
                        <a href="#" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Page content -->
    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="pt-4">
        <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 class="text-uppercase footer-text">Food Blend</h5>
            <p class="text-start">Food is something that everyone enjoys, which gives it the power to unite people all
            around the world. Food Blend strives to package food and community into a website that allows
            people to find inspiration either directly through recipe searching or through the ideas that
            others share.</p>
          </div>
          <div class="col-md-3">
            <h5 class="text-uppercase link-text">Quick Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url_for('index') }}">Home</a>
              </li>
              <li>
                <a href="{{ url_for('get_recipes') }}">Find Recipes</a>
              </li>
              <li>
                <a href="#">Login</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5 class="text-uppercase link-text">Communities</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url_for('communities', name='breakfast') }}">Breakfast</a>
              </li>
              <li>
                <a href="{{ url_for('communities', name='lunch') }}">Lunch</a>
              </li>
              <li>
                <a href="{{ url_for('communities', name='dinner') }}">Dinner</a>
              </li>
              <li>
                <a href="{{ url_for('communities', name='snacks & appetizers') }}">Snacks & Appetizers</a>
              </li>
                <li>
                <a href="{{ url_for('communities', name='desserts') }}">Desserts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-name text-center pb-3">© 2022
        <a href="{{ url_for('index') }}"> Food Blend</a>
      </div>

    </footer>

    <!-- Script tags -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>
</html>