{% extends 'base.html' %}

{% block title %}
    Food Blend | {{ name.title() }} Community
{% endblock %}

{% block content %}
    <section class="communities-posts p-5">
        <div class="container">
            <h1 class="community-name">{{ name.title() }} Community </h1>
            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12 mx-auto">
                    {% for post in posts %}
                    <div class="post-view mb-4">
                        <a href=""></a>
                        <h2 class="post-title">
                            <a href="{{ url_for('show_individual_post', name=name, id=post.id, title=post.title) }}" class="post-title-tag">
                                {{ post.title }}
                            </a>
                        </h2>
                        <p class="post-snippet">{{ post.body|safe }}</p>
                        <p class="post-info">
                            Posted by <a href="{{ url_for('show_user', user=post.author.username) }}" class="post-author">{{ post.author.name }}</a>
                            on <span class="post-date">{{ post.date }}</span>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}