{% extends 'base.html' %}

{% block title %}
    Food Blend | Home
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12 header-info">
                    <h1 class="heading-title">Welcome to Food Blend</h1>
                    <hr style="width: 75%;">
                    <span class="subheading">
                        Use the blend of food and community to find culinary inspiration.
                    </span>
                </div>
            </div>
        </div>
    </header>

{% endblock %}