{% extends 'base.html' %}

{% block title %}
    Food Blend | Home
{% endblock %}

{% block content %}
    <!-- Header section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12 header-info">
                    <h1 class="heading-title">Welcome to Food Blend</h1>
                    <hr style="width: 75%;">
                    <span class="subheading">
                        Use the blend of food and community to find culinary inspiration.
                    </span>
                </div>
            </div>
        </div>
    </header>

    <!-- Random Recipes section -->
    <section class="p-5 random-recipes">
        <div class="container">
            <div class="random-recipes-title pb-4 text-center">
                <h1>Some Recipe Ideas For You</h1>
                <p><strong>P.S.</strong> Keep refreshing the page to see new options (max 150 API calls per day)</p>
            </div>
            <div class="row row-cols-md-2 row-cols-lg-3 row-cols-sm-12">
                {% for recipe in recipes %}
                <div class="col-12 pb-5">
                    <div class="card h-100">
                        <img src="{{ recipe[2] }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ recipe[0] }}</h4>
                            <p class="card-text">Cook Time: {{ recipe[3] }}</p>
                            <p class="card-text">Servings: {{ recipe[4] }}</p>
                            <a href="{{ recipe[1] }}" class="btn btn-primary mt-auto" target="_blank">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Details section -->
    <section class="register">
        <div class="container-fluid">
            <div class="row register-row">
                <div class="col-md-6 left-img"></div>
                <div class="col-md-6 right-text my-auto">
                    <h2>What Food Blend Offers</h2>
                    <p>If you love food, we're certain you love sharing what you cooked or ate on social media or
                    with friends and family. Food Blend packages food and community into one, giving you the chance
                    to find new inspirations while sharing what you have made with the world!</p>
                    <a href="#" class="btn btn-primary">Find Recipes</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Motivation section -->
    <section class="motivation p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto motivation-left">
                    <h1 class="motivation-title">
                        Refine your cooking skills. Deepen your inspiration.
                    </h1>
                    <p class="motivation-text">Search up recipes you can make, get ideas from others, and share your creations with the world.</p>
                </div>
                <div class="col-md-6 motivation-right d-flex">
                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_snmohqxj/lottie_step2/data.json"  background="transparent"  speed="1"  style="width: 450px; height: 450px;"  loop  autoplay class="mx-auto"></lottie-player>
                </div>
            </div>
        </div>
    </section>

{% endblock %}