{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Food Blend | {{ post.title }}
{% endblock %}

{% block content %}
    <section class="individual-post p-5">
        <div class="container">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-info">Posted by <a href="{{ url_for('show_user', user=post.author.username) }}" class="post-author">{{ post.author.name }}</a></p>
            <div class="inline-actions justify-content-between d-flex">
                <span class="post-date">{{ post.date }}</span>
                {% if user.id == post.author_id %}
                <div class="post-actions btn-group col-sm-1">
                    <button id="post-actions" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('edit_post', post_id=post.id) }}" class="dropdown-item">Edit Post</a>
                        </li>
                        <li>
                            <a href="{{ url_for('delete_post', post_id=post.id) }}" class="dropdown-item">Delete Post</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <hr>
            <p>{{ post.body|safe }}</p>
        </div>

        <div class="container add-comment mb-4">
            <a onclick="toggleDisplay()" class="add-comment-tag" id="toggle-form">Click to add a comment...</a>

            <form class="form-comment text-center col-lg-6" id="form-post-comment" method="post" role="form" style="display: none;">
                {{ form.hidden_tag() }}

                <div class="form-field form-comment-content">
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='comment_content') }}
                    {{ wtf.form_field(form.comment_content) }}
                </div>
                <div class="form-field form-submit">
                    {{ wtf.form_field(form.submit,  button_map={"submit": "primary"}) }}
                </div>
            </form>
        </div>

        {% for comment in comments %}
        <div class="container show-comments">
            <img src="{{ comment.author.email | gravatar }}" class="profile-picture"> <a class="comment-user" href="{{ url_for('show_user', user=comment.author.username) }}">{{ comment.author.name }}</a>
            <p class="comment-info">{{ comment.text|safe }}</p>
        </div>
        {% endfor %}
    </section>
{% endblock %}